scripts/__pycache__/
scripts/functions/__pycache__/
scripts/testingscraperpao.sh
useful-files/info-scraper-pao.txt
pao/
docs/images/melodia-salmi
risorse/salmi
docs/index_slm.md
ai.txt
ai/
embeddings.md
data/canti.csv
data/canti.json
.cache/
docs/news/posts/proposte-bozza.md
data/vector_similarities_raw_backup.csv
risorse/prompt/embedding-script-builder.md
.venv/
useful-files/old-posts/
improve_copy_home
scripts/generate_image.sh
scripts/functions/apply_gradient
__pycache__/
