scripts/__pycache__/
scripts/functions/__pycache__/
scripts/testingscraperpao.sh
useful-files/info-scraper-pao.txt
pao/
docs/images/melodia-salmi
risorse/salmi
docs/index_slm.md
ai.txt
ai/
embeddings.md
data/canti.csv
data/canti.json
.cache/
docs/news/posts/ciao-hildegard.md
docs/news/posts/proposte-bozza.md
data/vector_similarities_raw_backup.csv
prompt.md
todos.txt
.venv/
