{% macro load_canti(filepath) %}
  {% set canti_data = load_json(filepath) %}
  {{ return(canti_data) }}
{% endmacro %}

{% macro filter_by_momento(canti, tipo_momento) %}
  {% set result = [] %}
  {% for canto in canti %}
    {% set momenti = canto.momento.split(',') %}
    
    {% if tipo_momento == 'ingresso' and ('14' in momenti or '21' in momenti or '24' in momenti or '32' in momenti) %}
      {{ result.append(canto) }}
    {% elif tipo_momento == 'offertorio' and ('4' in momenti or '11' in momenti) %}
      {{ result.append(canto) }}
    {% elif tipo_momento == 'comunione' and ('5' in momenti or '16' in momenti or '31' in momenti) %}
      {{ result.append(canto) }}
    {% elif tipo_momento == 'congedo' and ('14' in momenti or '21' in momenti) %}
      {{ result.append(canto) }}
    {% endif %}
  {% endfor %}
  {{ return(result) }}
{% endmacro %}
