site_name: Hildegard
repo_url: https://github.com/dennisangemi/hildegard
site_url: https://dennisangemi.github.io/hildegard/
theme:
  name: material
  language: it
  features:
    - navigation.tabs
  palette:
    primary: blue grey
    accent: teal
  icon:
    logo: material/church
    repo: fontawesome/brands/github
  favicon: material/church
  font:
    text: Poppins

 

markdown_extensions:
  - footnotes
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

